<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <h1><center>Puppy Adoption Form</center></h1>

    <p> Please enter your puppy info here </p>

      <form method="POST" action="/display_puppy">
        <p>Enter your puppy's name: <input type="text" name="name"><p>
        <p>Enter your puppy's breed: <input type="text" name="breed"><p>
         <p>Enter your puppy's age: <input type="text" name="age"><p>
         <input id="submit" type="submit" name="submit"> 
      </form>
  </body>
</html>