<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Home Page</title>
  </head>
  <body>
    <h1><center>Peppy Puppy Adoption Destination</center></h1>

    <h2><center>Thank you for your interest in adopting a puppy.</center></h2>
    <h2><center>We have many adorable puppies for adoption. We hope that you can find a great new little furry friend.</center></h2>


    <center><a href="/new">Click Here To List A Puppy</a></center>


      
  </body>
</html>